<form name="form" class="form-horizontal" ng-submit="ok()">
    <div class="modal-header clearfix">
        <span type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </span>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <!--Basic Information-->
        <div class="box box-info">
            <div class="box-header with-border">Basic Information</div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Name" ng-model="model.name">
                    </div>
                    <label class="col-sm-2 control-label">Client</label>
                    <div class="col-sm-4">
                        <rey-single-select rey-placeholder="Not Selected"
                                           rey-uri="/api/company/"
                                           ng-model="model.client"></rey-single-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Manager</label>
                    <div class="col-sm-4">
                        <rey-single-select rey-placeholder="Not Selected"
                                           rey-uri="/api/user/"
                                           ng-model="model.manager"></rey-single-select>
                    </div>
                    <label class="col-sm-2 control-label">Consultant</label>
                    <div class="col-sm-4">
                        <rey-multi-select rey-placeholder="Not Selected"
                                          rey-uri="/api/user/"
                                          ng-model="model.consultants"></rey-multi-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="4" ng-model="model.notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--End Basic Information-->
        <!--Position-->
        <div class="box box-info">
            <div class="box-header with-border">Position</div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Function</label>
                    <div class="col-sm-4">
                        <rey-multi-select rey-placeholder="Not Selected"
                                          rey-uri="/api/function/"
                                          rey-tree
                                          ng-model="model.functions"></rey-multi-select>
                    </div>
                    <label class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-4">
                        <rey-multi-select rey-placeholder="Not Selected"
                                          rey-uri="/api/location/"
                                          rey-tree
                                          ng-model="model.locations"></rey-multi-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Headcount</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Headcount" ng-model="model.headcount">
                    </div>
                    <label class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-4">
                        <rey-date-picker ng-model="model.startDate"></rey-date-picker>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Assignment Date</label>
                    <div class="col-sm-4">
                        <rey-date-picker ng-model="model.assignmentDate"></rey-date-picker>
                    </div>
                    <label class="col-sm-2 control-label">On Board Date</label>
                    <div class="col-sm-4">
                        <rey-date-picker ng-model="model.onBoardDate"></rey-date-picker>
                    </div>
                </div>
            </div>
        </div>
        <!--End Position-->
        <!--Job Understanding-->
        <div class="box box-info">
            <div class="box-header with-border">Job Understanding</div>
            <div class="box-body">
                <div class="form-group col-xs-12">
                    <label>Reporting Line:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field1" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Line manager’s background and style?</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field2" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Subbordidate:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field3" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Package Range & Salary Sturcture:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field4" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Why this opening:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field5" />
                </div>
                <div class="form-group col-xs-12">
                    <label>How many candidates have been interviewed? Why failed? </label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field6" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Key responsibilities:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field7" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Requirements / Top-3 skills needed:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field8" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Expectation/Key challenges: </label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field9" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Preferred company background: </label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field10" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Selling points:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field11" />
                </div>
                <div class="form-group col-xs-12">
                    <label>Interview process:</label>
                    <input type="text" class="form-control" ng-model="model.jobUnderstanding.field12" />
                </div>
            </div>
        </div>
        <!--End Job Understanding-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid"><i class="fa fa-save"></i> Save</button>
    </div>
</form>