<form name="form" class="form-horizontal" ng-submit="ok()">
    <div class="modal-header clearfix">
        <span type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </span>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <!--Basic Information-->
        <div class="box box-info">
            <div class="box-header with-border">Basic Information</div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Name" ng-model="model.name">
                    </div>
                    <label class="col-sm-2 control-label">Client</label>
                    <div class="col-sm-4">
                        <rey-single-select rey-placeholder="Not Selected"
                                    rey-uri="/api/company/"
                                    ng-model="model.client"></rey-single-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="4" ng-model="model.notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--End Basic Information-->
        <!--Position-->
        <div class="box box-info">
            <div class="box-header with-border">Position</div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Function</label>
                    <div class="col-sm-4">
                        <rey-multi-select rey-placeholder="Not Selected"
                                          rey-uri="/api/function/"
                                          rey-tree
                                          ng-model="model.functions"></rey-multi-select>
                    </div>
                    <label class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-4">
                        <rey-multi-select rey-placeholder="Not Selected"
                                          rey-uri="/api/location/"
                                          rey-tree
                                          ng-model="model.locations"></rey-multi-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Headcount</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Headcount" ng-model="model.headcount">
                    </div>
                    <label class="col-sm-2 control-label">Start Date</label>
                    <div class="col-sm-4">
                        <rey-date-picker ng-model="model.startDate" rey-begin-today></rey-date-picker>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Assignment Date</label>
                    <div class="col-sm-4">
                        <rey-date-picker ng-model="model.assignmentDate" rey-begin-today></rey-date-picker>
                    </div>
                    <label class="col-sm-2 control-label">On Board Date</label>
                    <div class="col-sm-4">
                        <rey-date-picker ng-model="model.onBoardDate" rey-begin-today></rey-date-picker>
                    </div>
                </div>
            </div>
        </div>
        <!--End Position-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid"><i class="fa fa-save"></i> Save</button>
    </div>
</form>