@{
    this.ViewBag.Title = "Data";
}

<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-industry"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Industry</span>
                <span class="info-box-number">&nbsp;</span>
            </div>
            <div class="info-box-content text-right">
                <a href="/Data/Industries">Details <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="fa fa-tasks"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Function</span>
                <span class="info-box-number">&nbsp;</span>
            </div>
            <div class="info-box-content text-right">
                <a href="/Data/Functions">Details <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="fa fa-location-arrow"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Location</span>
                <span class="info-box-number">&nbsp;</span>
            </div>
            <div class="info-box-content text-right">
                <a href="/Data/Locations">Details <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-cubes"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Category</span>
                <span class="info-box-number">&nbsp;</span>
            </div>
            <div class="info-box-content text-right">
                <a href="/Data/Categories">Details <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-tags"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Channel</span>
                <span class="info-box-number">&nbsp;</span>
            </div>
            <div class="info-box-content text-right">
                <a href="/Data/Channels">Details <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</div>